@use 'src/assets/scss/utils' as *;

:host {
    display: flex;
    box-sizing: border-box;
    padding: 2rem;
    gap: 2rem;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    @include mq(small) {
        gap: 1.5rem;
        padding: 0;
    } 
}

.pattern { 
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: .4;
    background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E') ;
    background-size: 10%;
}

.sidebar {
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: calc(100vh - 4rem);
    @include mq(small) {
        padding-top: 1rem;
        padding-right: 1rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}