@use 'src/assets/scss/utils' as *;

:host {
    display: flex;
    flex-direction: column;
}

.page-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    @include mq(small) {
        width: 100%;
    }
}

.wrapper {
    align-items: center;
    mat-form-field {
        width: 100%;
    }
    @include mq(small) {
        flex-direction: column;
    }   
}

.page-subtitle {
    @include mq(small) {
        font-size: 1rem;
        line-height: 1.4;
    }
}

br {
    display: none;
    @include mq(small) {
        display: block;
    }
}

.buttons {
    @include mq(small) {
        .button {
            width: 100%
        };
    }
}