<h2>Client satisfaction, our reputation</h2>
<div class="wrapper">
    <article class="comment" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]">
        <section class="comment__user">
            <img class="comment__user-image" />
            <p class="comment__user-title">John Doe</p>
        </section>
        <p class="comment__text">
            „Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor, dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor”
        </p>
    </article>
</div>
