h2 {
    margin-top: 60px;
    font-size: 4rem;
    color: #171717;
    text-align: center;
    span {
        color: #375974;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.comment {
    display: flex;
    flex-direction: column;
    max-width: 22%;
    padding: 2rem;
    padding-bottom: 1.4rem;
    height: fit-content;
    &__user {
        display: flex;
        align-items: center;
        gap: .5rem;
    }
    &__user-image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }
    &__user-title {
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0;
    }
    &__text {
        line-height: 1.6;
    }
}