<header class="header" routerLink="/">
    <img class="header__logo" src="/assets/images/full_logo_b.png">
</header>
<h1 class="page-title">About us</h1>
<div class="page-content">
    <p>Our website is designed with user-friendliness in mind, allowing doctors to quickly and easily schedule appointments, manage consultations, and update medical records. By streamlining these tasks, doctors can focus on providing the best possible care to their patients.</p>

    <p>For patients, our website provides a secure platform to access their medical information. Patients can view their appointments, consultation history, and medical records all in one place. This makes it easier for patients to keep track of their healthcare, and ensures that they are informed and up-to-date about their medical status.</p>
        
    <p>We take security and privacy seriously, which is why our website uses the latest encryption and security protocols to protect patient data. Our website is also compliant with relevant regulations, ensuring that patient data is handled responsibly and ethically.</p>
        
    <p>Thank you for choosing our family doctor panel website. We look forward to providing you with a seamless healthcare management experience.</p>
</div>