<header class="header" routerLink="/">
    <img class="header__logo" src="/assets/images/full_logo_b.png">
</header>
<h1>Contact Us</h1>
<p>If you have any questions or concerns about HomeMed, please feel free to get in touch with us.</p>

<h2>Email</h2>
<p>You can contact us via email at <a href="mailto:contact@homemed.com">contact@homemed.com</a>.</p>

<h2>Phone</h2>
<p>You can also reach us by phone at <a href="tel:+4051347104">+4051347104</a>.</p>

<h2>Address</h2>
<p>Our office is located at:</p>
<address>
    123 Main Street<br>
    Suite 456<br>
    Anytown, USA<br>
</address>