$proximity : 4rem;

:host {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: $proximity;
    gap: $proximity;
}

.primary {
    display: flex;
    flex-direction: column;
    width: 60%;
    flex-shrink: 0;
}

form {
    display: flex;
    flex-direction: column;
}

.illustration {
    background-color: var(--bg-color-dark);
    width: 100%;
    height: calc(100vh - $proximity*2);
}