<div class="illustration">
    <p class="logo">HomeMed</p>
    <img>
</div>
<div class="primary">
    <div class="back-button">
        <a class="back-button__button" routerLink="/">Back on home page</a>
    </div>
    <h1>Get Started</h1>
    <p>Create your account now</p>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password">
        </mat-form-field>
        <button>Sign In</button>
    </form>
    <p>Sign in with social</p>
    <div class="social_login">
        <button>Google</button>
        <button>Facebook</button>
    </div>
    <p>Already have an account? <a routerLink="/login">Sign In</a></p>
</div>
