@use 'src/assets/scss/utils' as *;

:host {
    display: flex;
    flex-direction: column;
}

br {
    display: none;
    @include mq(small) {
        display: block;
    }
}

.code {
    border-bottom: 2px dotted;
    cursor: pointer;
    transition: .1s ease-in-out;
    width: fit-content;
    &:hover {
        color: var(--primary-color);
        border-bottom: 2px dotted var(--primary-color);
    }
}

.page-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    @include mq(small) {
        width: 100%;
    }
}

.wrapper {
    align-items: center;
    mat-form-field {
        width: 100%;
    }
    @include mq(small) {
        flex-direction: column;
    }   
}

.buttons {
    @include mq(small) {
        .button {
            width: 100%
        };
    }
}