.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header__button {
    font-size: 24px;
    font-weight: 900;
    background-color: rgba(2,84,114,10%);
    border: 1px solid #025E72;
    border-radius: 20px;
    padding: 15px;
}

span {
    color: #375974;
    font-size: 40px;
    font-family: 'Inter', 'Courier New', Courier, monospace;
    font-weight: 900;
}