@use 'src/assets/scss/utils' as *;

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 3rem;
    cursor: pointer;
    &__logo {
        height: 100%;
        width: fit-content;
    }
    @include mq(small) {
        padding: 0 1rem;
    }
}