:host {
    display: flex;
    flex-direction: column;
}

.appointments {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.appointment {
    display: flex;
    flex-direction: column;
    &__patient-image {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
}