@use 'src/assets/scss/utils' as *;

:host {
    display: flex;
    flex-direction: column;
}

.appointments {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    @include mq(small) {
        display: flex;
        flex-direction: column;
    }
}

.appointment {
    display: flex;
    flex-direction: column;
    height: fit-content;
    &__header {
        display: flex;
        flex-direction: column;
    }
    &__doctor {
        display: flex;
        gap: .5rem;
        align-content: center;
        margin: .8rem 0 .5rem;
    }
    &__doctor-image {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
    &__doctor-name {
        margin: 0;
        line-height: 1.35;
    }
    &__date {
        background-color: #fff;
        color: #171717;
        padding: .7rem;
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    &__duration {
        font-size: 2.6rem;
        margin-bottom: .2rem;
        font-weight: bold;   
    }
    &__scheduledDate {
        font-size: .8rem
    }
    &--important {
        background-color: hsla(61, 100%, 50%, 0.2);
        color: #512300;
    }
    &__title {
        font-size: 1.6rem;
        margin: 0;
        // margin: .2rem 0 1rem;
    }
}