<div class="wrapper">
    <section class="identity">
        <h1 class="title">Homemed</h1>
        <p class="motto">Get in touch with your health</p>
    </section>
    <section class="links">
        <ul class="list">
            <span class="list__title">Company</span>
            <li class="list__item">About</li>
            <li class="list__item">Contact Us</li>
            <li class="list__item">Our Team</li>
        </ul>
        <ul class="list">
            <span class="list__title">Links</span>
            <li class="list__item">Help Center</li>
            <li class="list__item">Privacy Policy</li>
            <li class="list__item">Term & Condition</li>
            <li class="list__item">FAQs</li>
        </ul>
    </section>
</div>
©2023 by MAG and Mihai Radu. All rights reserved 