<form (submit)="addAppointment(appointmentForm)" #appointmentForm="ngForm" class="add-appointment-form">
    <h1>Add Appointment</h1>
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput name="title" ngModel placeholder="Please enter title">
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="!patientless">
        <mat-label>Patient</mat-label>
        <mat-select name="patient" ngModel>
            <mat-option *ngFor="let patient of patients$ | async" [value]="patient.id" (click)="onChangePatient(patient)">
                {{ patient.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <section class="wrapper">
        <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput name="date" ngModel [min]="minDate" [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Time</mat-label>
            <mat-select ngModel name="time">
                <mat-option *ngFor="let hour of range(start, end)" [value]="hour">
                    {{ hour }}:00
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Duration</mat-label>
            <input matInput name="duration" ngModel>
        </mat-form-field>
    </section>
    <mat-form-field appearance="outline">
        <mat-label>Details</mat-label>
        <textarea name="details" ngModel matInput></textarea>
    </mat-form-field>
    <div class="wrapper">
        <button class="button">
            <mat-icon>done</mat-icon>
            Add Appointment
        </button>
        <section class="wrapper">
            <mat-checkbox name="important" ngModel>Important</mat-checkbox>
            <mat-checkbox name="patientless" [(ngModel)]="patientless">Ad-Hoc</mat-checkbox>
        </section>
    </div>
</form>