:host {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 2rem 5rem;
}

.wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: .5rem;
    h3, p {
        margin: 0;
    }
}