<h1>Find doctor in your county</h1>
<mat-form-field appearance="outline">
    <mat-label>County</mat-label>
    <mat-select [(ngModel)]="county" (selectionChange)="onInput(county)">
        <mat-option *ngFor="let county of counties" [value]="county">
            {{ county }}
        </mat-option>
    </mat-select>
</mat-form-field>
<div class="wrapper">
    <div class="card card--outline" *ngFor="let doctor of doctors">
        <h3>{{ doctor.name }}</h3>
        <p>{{ doctor.email }}</p>
        <p>{{ doctor.patientsCount }} patients</p>
    </div>
</div>