<img class="primary-img" />
<div class="primary-wrapper">
    <article class="pane">
        <span class="pane__title">Lorem ipsum</span>
        <p class="pane__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua ut labore et dolore
            magna aliqua
        </p>
    </article>
    <div class="secondary-wrapper">
        <article class="pane">
            <span class="pane__title">Lorem ipsum</span>
            <p class="pane__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua ut labore et dolore
                magna aliqua
            </p>
        </article>
        <img class="secondary-img">
    </div>
</div>
