@use 'src/assets/scss/utils' as *;

$icon-size: 4.2rem;

.info-pane {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 3rem;
    cursor: pointer;
    &__icon {
        font-size: $icon-size;
        height: $icon-size;
        width: $icon-size;
    }
    &__content {
        display: flex;
        gap: .4rem;
    }
    &__title {
        font-size: .8rem;
        line-height: 1;
    }
    &__count {
        margin: 0;
        font-size: 2.4rem;
    }
    &__link {
        margin-left: .5rem;
        color: inherit;
        &:hover {
            text-decoration: underline;
        }
    }
}

.wrapper {
    @include mq(small) {
        width: fit-content;
        flex-direction: column;
    } 
}

.mark {
    color: var(--primary-color);
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}