<ng-container *ngIf="patient$ | async as patient">
    <section class="patient">
        <img class="patient__image" [src]="patient.imageUrl">
        <div>
            <h1>{{patient.name}}</h1>
            <p>{{patient.birthday}}</p>
            <p>Address: {{patient.address}}, {{patient.county}}</p>
            <p>Email: {{patient.email}}</p>
            <p>Phone: {{patient.phone}}</p>
        </div>
    </section>
    <div class="details">
        <p>Current Medications: {{ patient.currentMedications | emptyText }}</p>
        <p>Chronic Diseases: {{ patient.chronicDiseases | emptyText }}</p>
        <p>Allergies: {{ patient.allergies | emptyText }}</p>
        <p>Surgeries: {{ patient.surgeries | emptyText }}</p>
        <p>Family History: {{ patient.familyHistory | emptyText }}</p>
    </div>
</ng-container>