<section class="main">
    <h6 class="main__subtitle">The Association of Doctors</h6>
    <h1 class="main__title">Get in touch with your <span class="main__mark">health</span></h1>
    <p class="main__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, dignissimos
        nisi velit temporibus deserunt autem reiciendis. Deleniti corporis fugiat ex
        autem beatae fugit numquam nemo obcaecati, perferendis commodi natus? Nulla,
        suscipit optio atque facere ullam culpa placeat quos adipisci provident
        iste, maxime voluptas tempora dolorum iusto similique beatae at. Nihil?
    </p>
    <img class="main__image">
</section>
<section class="secondary">
    <p class="secondary__description">We are proud of <span class="secondary__mark">our impact</span> on connection quality in healthcare environment</p>
    <article class="secondary__info-pane">
        <h3 class="secondary__info-pane-data">1.5K+</h3>
        <p class="secondary__info-pane-text">Honorable doctors worldwide</p>
    </article>
    <article class="secondary__info-pane">
        <h3 class="secondary__info-pane-data">10K+</h3>
        <p class="secondary__info-pane-text">Happy patients all around the world</p>
    </article>
</section>