<h2>Best tool in the field</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
<div class="wrapper">
    <article class="pane">
        <div class="pane__icon-wrapper">
            <mat-icon>spa</mat-icon>
        </div>
        <span class="pane__title">Lorem Ipsum Dolor Sit Amet</span>
        <img class="pane__image">
        <p class="pane__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
    </article>
    <article class="pane">
        <div class="pane__icon-wrapper">
            <mat-icon>spa</mat-icon>
        </div>
        <span class="pane__title">Lorem Ipsum Dolor Sit Amet</span>
        <img class="pane__image">
        <p class="pane__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
    </article>
    <article class="pane">
        <div class="pane__icon-wrapper">
            <mat-icon>spa</mat-icon>
        </div>
        <span class="pane__title">Lorem Ipsum Dolor Sit Amet</span>
        <img class="pane__image">
        <p class="pane__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
    </article>
    <article class="pane">
        <div class="pane__icon-wrapper">
            <mat-icon>spa</mat-icon>
        </div>
        <span class="pane__title">Lorem Ipsum Dolor Sit Amet</span>
        <img class="pane__image">
        <p class="pane__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
    </article>
</div>