@use 'src/assets/scss/utils' as *;

* {
    font-family: 'Inter', 'Courier New', Courier, monospace;
    color: #171717;
}

:host {
    display: flex;
    flex-direction: column;
    @include mq(small) {
        padding: 0 1rem;
    } 
}

.title {
    font-size: 4rem;
    margin: 2rem 0 0;
    span {
        color: #375974;
    }
    @include mq(small) {
        font-size: 2.6rem;
    } 
}

.description {
    margin: .5rem 0;
    font-size: 1.4rem;
    @include mq(small) {
        font-size: 1rem;
    } 
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
    width: 100%;
    gap: 6rem;
    margin-top: 2rem;
    @include mq(small) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem
    } 
}

.pane {
    display: flex;
    flex-direction: column;
    &__title {
        color: #171717;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        font-weight: 600;
    }
    &__description {
        font-weight: 300;
        width: 80%;
        line-height: 1.6;
    }
    &__image {
        width: 100%;
        align-self: center;
    }
    @include mq(small) {
        &__title {
            font-size: 2rem;
        }
        &__description {
            width: 100%;
        }
    } 
}