<h2 class="title"><span>Best tool</span> in the field</h2>
<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
<div class="wrapper">
    <article class="pane">
        <span class="pane__title">Accessible</span>
        <img class="pane__image" src="assets/img/image1.png" alt="Image of Doctor">
        <p class="pane__description">With an online platform, patients can access healthcare services from the comfort of their own home</p>
    </article>
    <article class="pane">
        <span class="pane__title">Cost savings</span>
        <img class="pane__image" src="assets/img/image2.png" alt="Image of Doctor">
        <p class="pane__description">Online consultations or appointments can be less expensive than in-person visits, especially when considering travel costs and time away from work.</p>
    </article>
    <article class="pane">
        <span class="pane__title">Reduced stress</span>
        <img class="pane__image" src="assets/img/image3.png" alt="Image of Doctor">
        <p class="pane__description">Patients can avoid the stress of traveling to and waiting in a doctor's office</p>
    </article>
    <article class="pane">
        <span class="pane__title">Data security</span>
        <img class="pane__image" src="assets/img/image4.png" alt="Image of Doctor">
        <p class="pane__description">A family doctor panel can provide secure and confidential storage of medical records, ensuring that patient data is protected and private</p>
    </article>
</div>