.button {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    outline: 0;
    padding: .1rem;
    padding-right: 1.2rem;
    font-size: 1rem;
    background-color: #80cbc4;
    border: 1px solid #4db6ac;
    font-weight: 500;
    border-radius: 50vmax;
    mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;
        background-color: #fff;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        scale: .7;
        transition: .2s;
    }
    &::after {
        content: '';
        z-index: -1;
        position: absolute;
        width: calc(100% + .7rem);
        height: calc(100% + .7rem);
        top: -.35rem;
        left: -.35rem;
        border-radius: 50vmax;
        background-color: #e0f2f1;
        scale: 0;
        z-index: -1;
        transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &:hover {
        border-color: #009688;
        &::after {
            scale: 1;
        }
        mat-icon {
            color: #009688;
        }
    }
    &:active {
        border-color: #00796b;
    }
    &--warn {
        background-color: #f7a4a4;
        border-color: #ef9a9a;
        &::after {
            background-color: #ffebee;
        }
        &:hover {  
            border-color: #e57373;
            mat-icon {
                color: #e57373;
            }
        }
        &:active {
            border-color: #d32f2f;
        }
    }

    &--upload-file {
        background-color: #fff59d;
        border-color: #fff176;
        &::after {
            background-color: #fffde7;
        }
        &:hover {  
            border-color: #fff176;
            mat-icon {
                color: #f57f17;
            }
        }
        &:active {
            border-color: #ffeb3b;
        }
    }
}