@use 'src/assets/scss/utils' as *;

.page-title {
    font-size: 2.6rem;
    line-height: normal;
    margin-bottom: .8rem;
}

.page-subtitle {
    font-size: 1.2rem;
    margin: 0;
    line-height: normal;
}

.page-content {
    margin-top: 1.5rem;
    width: 100%;
}

.page-action {
    position: absolute;
    top: 2rem;
    right: 0;
    @include mq(small) {
        top: 0;
        margin: 1rem 0;
        width: fit-content;
        position: relative;
    }
}

.page-actions {
    @extend .page-action;
    display: flex;
    gap: 1rem;
}