@use 'src/assets/scss/utils' as *;

:host {
    width: 100%;
    gap: .5rem;
    display: flex;
    justify-content: right;
    text-align: right;
}
.user {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    &__type {
        font-weight: bold;
        text-transform: capitalize;
    }
}

.avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    @include mq(small) {
        height: 32px;
        width: 32px;
    }
}