<div class="primary">
    <div class="back-button">
        <a class="back-button__button" routerLink="/">Back on home page</a>
    </div>
    <h1>Welcome</h1>
    <p>Lorem ipsum dolor sit amet</p>
    <ng-container *ngIf="login else register">
        <button (click)="onGoogleLogin()">Google</button>
    </ng-container>
</div>
<div class="illustration">
    <p>HomeMed</p>
    <img>
</div>
<ng-template #register>
    <div>
        <div (click)="user.type='doctor'">Doctor</div>
        <div (click)="user.type='patient'">Patient</div>
    </div>
    <mat-form-field appearance="outline" *ngIf="user.type == 'patient'">
        <input [(ngModel)]="user.invitationCode" matInput placeholder="Please enter invitation code">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input [(ngModel)]="user.name" matInput placeholder="Please enter your name">
    </mat-form-field>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Address, City</mat-label>
            <input [(ngModel)]="user.address" matInput placeholder="Please enter your address">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>County</mat-label>
            <mat-select [(ngModel)]="user.county">
                <mat-option *ngFor="let county of counties" [value]="county">
                    {{ county }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>
        <input [(ngModel)]="user.phone" matInput type="tel" placeholder="Please enter your phone number">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input [(ngModel)]="user.birthday" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <input *ngIf="user.type == 'doctor'" type="file" (input)="onUploadValidationImage($event)">
    <button (click)="onRegister()">Register</button>
</ng-template>